* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url('https://keycharm.neocities.org/background.png');
  background-color: #b4b4b4;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  margin: 10%;
  font-family: 'Schibsted Grotesk', sans-serif;
  font-size: 22px;
  color: #333333;
}

/* SIDEBAR */
.sidebg {
  background-repeat: repeat-y;
  background-position: top right;
  width: 200px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.side {
  background-color: #fafafa;
  width: 280px;
  height: 100%;
  padding: 1rem;
  text-align: justify;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.avatar {
  width: 100%;
}

.desc {
  padding: 0.5rem;
}

.sideheaders {
  font-family: 'Momo Trust Display', sans-serif;
  font-size: 25px;
  text-align: center;
}

.side ul {
  padding-left: 2.5rem;
}

.side li {
  list-style: none;
  font-size: 16px;
}

/* MAIN CONTENT */
.container {
  display: flex;
  flex-direction: column;
  margin-left: 200px;
}

.headerwrapper {
  width: 100%;
  text-align: center;
}

.title {
  font-family: 'Staatliches', sans-serif;
  color: #fff;
  font-size: 110px;
  text-align: center;
}

.boxgap {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  background-color: #fafafa;
}

.centerimage {
  width: 100%;
  max-width: 960px;
  height: auto;
  display: block;
  padding: 1rem;
  margin: 0 auto;
}

.right {
  display: flex;
  justify-content: center;
}

/* LINKS */
a {
  color: #76AFC2;
  text-decoration: none;
}

a:hover {
  font-weight: bold;
}

/* SCROLLBAR */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #967e68;
}

/* MOBILE */
@media (max-width: 760px) {
  body {
    margin: 0;
    padding: 1rem;
  }

  .sidebg {
    background-image: none;
    position: relative;
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
  }

  .side {
    width: 100%;
    height: auto;
    text-align: center;
  }

  .avatar {
    width: 50%;
    margin: 0 auto;
  }

  .container {
    margin: 0;
  }

  .title {
    font-size: 90px;
  }

  .centerimage {
    width: 360px;
    max-width: 100%;
  }
}
