* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Schibsted Grotesk", sans-serif;
    color: #ffffff;
    background: #3C96B9;
    /*Fondo Degrade!*/
    background: linear-gradient(90deg,rgb(60, 150, 185) 0%, rgba(150, 210, 225, 1) 55%, rgba(215, 245, 250, 1) 100%);
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

header {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.90); /* Opacidad */
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.menu {
    max-width: 1200px;
    margin: 0 auto;
    padding: 14px 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* logo */
.menu > div {
    order: 2;
    margin-left: 25px;
}

.menu > div > img {
    height: 52px;
    width: auto;
}

.menu > ul {
  order: 1;
  display: flex;
  list-style: none;
  gap: 24px;
}

.menu > ul > li > a {
    color: #333;
    font-family: "Momo Trust Display", sans-serif;
}

.menu > ul > li > a:hover {
    color: #117198;
}

main {
    margin-top: 40px;
}

.container {
    display: flex;
    flex-direction: column;
    padding: 30px;
    justify-content: center;
    align-items: flex-start;
    gap: 25px;
}

.container-reverse {
    flex-direction: column-reverse;
}

.text-center {
    text-align: center;
}

/* formato de textos */
.title {
    font-family: "Momo Trust Display",sans-serif;
    color: #0b3d61;
    font-size: 70px;
}

.regular-text {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 30px;
}

.sub-title {
    font-family: "Momo Trust Display", sans-serif;
    font-size: 42px;
    color: #333;
    margin-bottom: 20px;
}

/* Sobre nosotros*/
.container-about-us {
    display: flex;
    flex-direction: column;
    align-items: center;   
    text-align: center;  
    max-width: 700px;   
    margin: 0 auto;       
}

/* imagenes */
.picture {
    display: flex;
    gap: 16px;
    align-items: center;
}

.picture img {
    width: 210px;     
    height: 280px; 
    border-radius: 16px;
    object-fit: cover;
}

.container-products {
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.circles {
    flex-wrap: wrap;
    gap: 40px;
}

.circle-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.circle-img {
    width: 210px;
    height: 210px;
    border-radius: 50%;
    background-color: #ffffff;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 10px 25px rgba(0,0,0,0.12);
    transition: transform 0.3s ease;
}

.circle-img:hover {
    transform: scale(1.05);
    filter: brightness(1.2);
}

.circle-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.circle-text {
    font-family: "Momo Trust Display", sans-serif;
    font-size: 18px;
    color: #333;
}

/* catalogo */
.box-products {
    background-color: #fafafa;
    padding: 2rem;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    margin-bottom: 3rem;

}

.box-title {
    font-family: "Momo Trust Display", sans-serif;
    font-size: 32px;
    text-align: center;
    color: #333;
}

.space {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    width: 100%;
    max-width: 900px;
}

.imagen-producto {
    display: flex;
    align-items: center;
    gap: 1rem;
    background-color: #e8f4f8;
    padding: 1rem;
    border-radius: 12px;
}

.imagen-producto img {
    width: 120px;
    height: auto;
    border-radius: 10px;
}

.producto-texto h3 {
    margin: 0;
    color: #333;
    font-size: 18px;
}

.producto-texto p {
    margin: 0;
    color: #333;
    font-weight: bold;
}

footer {
    margin-top: 80px;
}

footer .social-media {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px; 
    margin-top: 10px;
    padding: 16px 32px;      
}

footer .social-media a img {
    width: 80px; /* más grande */
    height: 80px;
    transition: transform 0.3s ease;
}

footer .social-media a img:hover {
    transform: scale(1.1);
}

.container-footer {
    background-color: rgb(60, 150, 185);
    text-align: center;
    padding: 26px;
}

.container-footer p {
    color: #ffffff;   
    font-size: 16px;
    font-weight: bold;
}

.social-media {
    margin-top: 20px;
    display: flex;
    gap: 15px;
    justify-content: center;
    width: 250px;
}

.social-media {
    display: flex;
    justify-content: center;
    gap: 20px;
}


/* Desktop */
@media (min-width: 1025px) {
  .menu { 
    flex-direction: row;
    justify-content: space-between;
    padding: 6px 24px;
  }

  .menu > ul {
    flex-direction: row;
    gap: 32px;
  }

  main {
    max-width: 1400px;
    margin: auto;
  }

  .container {
    flex-direction: row;
  }

  .container > section:first-child,
  .container > section:last-child {
    flex-grow: 1;
  }

  .title {
    font-size: 70px;
    width: 13ch;
  }

  .regular-text {
    font-size: 18px;
    width: 50ch;
    margin-top: 30px;
  }

  .container-products {
    flex-direction: row;
  }

}

/* dispositivos móviles */
@media (max-width: 1024px) {
  .container {
    flex-direction: column; 
    gap: 20px;
    padding: 20px;
    align-items: center;
  }

  .title {
    font-size: 42px;
    width: auto;
    max-width: 90%;
    text-align: center;
    margin: 0 auto;
  }

  .regular-text {
    font-size: 16px;
    width: 90%;
    text-align: center;
    margin: 20px auto 0;
  }

  .foto {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 12px;
  }

  .foto img {
    width: 150px;
    height: 200px;
  }

  .container-products {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }

  .circle-img {
    width: 150px;
    height: 150px;
  }

  .circle-text {
    font-size: 14px;
  }
  
  .circles {
    grid-template-columns: 1fr; /* una columna x producto */
    gap: 12px;
  }

  .circle-img {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .circle-img {
    width: 120px;
    height: auto;
  }

  footer .social-media a img {
    width: 50px;
    height: 50px;
  }
}
